@font-face {
  font-family: "iconfont"; /* Project id 3375413 */
  src: url('../../fonts/Alimama_ShuHeiTi_Bold.ttf') format('woff2'),
       url('../../fonts/Alimama_ShuHeiTi_Bold.woff') format('woff'),
       url('../../fonts/Alimama_ShuHeiTi_Bold.woff2') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-Dyanjing:before {
  content: "\e8ad";
}

.icon-caidan:before {
  content: "\e8ae";
}

